<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo
       http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <mongo:mongo-client id="mongoClient" host="47.100.201.19" port="27017" credentials="shan:shan**@shan"/>
    <mongo:db-factory id="mongoDbFactory" dbname="shan" mongo-ref="mongoClient"></mongo:db-factory>
    <mongo:template id="mongoTemplate" db-factory-ref="mongoDbFactory" write-concern="NORMAL"/>

    <bean id="redisService" class="com.baozun.demo.service.impl.RedisServiceImpl">
        <property name="jedisPool" ref="jedisPool"></property>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg  ref="redisconfig"></constructor-arg>
        <constructor-arg type="java.lang.String" value="${spring.redis.host}"></constructor-arg>
        <constructor-arg type="int" value="${spring.redis.port}"></constructor-arg>
        <constructor-arg type="int" value="${spring.redis.timeout}"></constructor-arg>
        <constructor-arg type="java.lang.String" value="${spring.redis.password}"></constructor-arg>
    </bean>

    <bean id="redisconfig" class="redis.clients.jedis.JedisPoolConfig">
        <property  name="maxActive" >
            <value type="int">${spring.redis.pool.max-active}</value>
        </property>
        <property  name="maxIdle" >
            <value type="int">${spring.redis.pool.max-idle}</value>
        </property>
        <property  name="maxWait">
            <value type="long">${spring.redis.pool.max-wait}</value>
        </property>
        <property  name="testOnBorrow" >
            <value type="boolean">${spring.redis.pool.testonborrow}</value>
        </property>
    </bean>


</beans>